{% load i18n %}

<div class="publications__content">
    <div class="publications__categories">
        <a href="#" class="publications__categories-dropdown dropdown__button dropdown__button--clickable icon-arrow"></a>
        <div class="publications__categories-list dropdown">
            <div class="account-sidebar__list">
                <div class="publications__categories-item{% if active == 1 %} publications__categories-item--active{% endif %}">
                    <a href="{% url 'auth:profile' %}" class="publications__categories-link">
                        {% trans "My top agrar" %}
                    </a>
                </div>
                <div class="publications__categories-item{% if active == 2 %} publications__categories-item--active{% endif %}">
                    <a href="{% url "auth:profile_edit" %}" class="publications__categories-link">
                        {% trans "My data" %}
                    </a>
                </div>
                <div class="publications__categories-item{% if active == 3 %} publications__categories-item--active{% endif %}">
                    <a href="{% url "auth:profile_password_reset" %}" class="publications__categories-link">
                        {% trans "Password change" %}
                    </a>
                </div>
                <div class="publications__categories-item{% if active == 4 %} publications__categories-item--active{% endif %}">
                    <a href="{% url 'auth:user_subscriptions' %}" class="publications__categories-link">
                        {% trans "My subscription" %}
                    </a>
                </div>
                <div class="publications__categories-item{% if active == 5 %} publications__categories-item--active{% endif %}">
                    <a href="{% url 'auth:profile_shopping_history' %}" class="publications__categories-link">
                        {% trans "Shopping history" %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>