{% extends BASE_SITE %}
{% load i18n breadcrumbs forms blocks_tags terms_tags static %}

{% block meta_title %}{% trans "Login zone" %}{% endblock %}

{% block breadcrumbs %}
        <div class="breadcrumbs">   
            {% tap_breadcrumb 'index' 'Homepage' %}
            <p class="breadcrumbs__item">
                {% trans "Login zone" %}
            </p>
        </div>
{% endblock %}

{% block page_content %}
    <div class="login-page">
        <div class="row">
            <div class="login-page__box">
                <div class="login-page__box-content login-page__box-content--grey">
                    <div class="login-page__heading heading">
                        <h3 class="heading__title">{% trans "Login" %}</h3>
                    </div>
                    <div class="login-page__content">
                        <p class="login-page__subtitle">{% trans "Provide login details" %}</p>
                        <div class="login-page__form-container">
                            {% with form=login_form %}
                                <form action="{% url 'auth:login' %}" class="form login-page__form" id="login-form" method="POST" novalidate>
                                    <div class="form__field-row login-page__field-row">
                                        <div class="form__field-group">
                                            {% label form.username "form__label" %}
                                            {% field "text" form.username "form__field" required=True %}
                                            {% if form.non_field_errors %}
                                                {% label form.username "error message form__field--invalid" _("Invalid username or password") %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form__field-row login-page__field-row">
                                        <div class="form__field-group">
                                            {% label form.password "form__label" %}
                                            {% field "password" form.password "form__field" required=True %}
                                            {% if form.non_field_errors %}
                                                {% label form.username "error message form__field--invalid" _("Invalid username or password") %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form__field-row form__field-row--checkbox login-page__field-row">
                                        <div class="form__field-group form__field-group--inline form__option">
                                            {% field "checkbox" form.remember_me "form__checkbox" %}
                                            {% label form.remember_me "form__label"  %}
                                        </div>
                                    </div>
                                    {% csrf_token %}
                                    {% if next_url %}
                                        <input type="hidden" name="next" value="{{ next_url }}">
                                    {% endif %}
                                    <div class="form__field-row form__field-row--checkbox login-page__field-row">
                                        <div class="form__field-group">
                                            <div class="login-page__buttons">
                                                <a href="{% url 'auth:password_reset' %}" class="login-page__forget-password login-page__link">{% trans "Forgot password" %}</a>
                                                <input type="submit" class="login-page__button login-page__submit-form button button--primary" value="{% trans "Login" %}">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="login-page__box">
                <div class="login-page__box-content login-page__box-content--white">
                    <div class="login-page__heading heading heading--column">
                        <h3 class="heading__title">{% trans "Register new account" %}</h3>
                        {% if facebook_login_enabled %}<a href="{% url 'auth:begin' 'facebook' %}" class="login-page__link">{% trans "Login with Facebook" %}</a>{% endif %}
                    </div>
                    <div class="login-page__content">
                        <p class="login-page__subtitle">{% trans "Provide registration details" %}</p>
                        <div class="login-page__form-container">
                            {% with form=registration_form %}
                                <form action="{% url 'registration:register' %}" class="form login-page__form" id="login-form" autocomplete="off" method="POST" novalidate>
                                    <div class="form__field-row login-page__field-row">
                                        <div class="form__field-group">
                                            {% label form.username "form__label" %}
                                            {% field "text" form.username "form__field" %}
                                            {% if form.username.errors %}
                                                {% label form.username "error message form__field--invalid" form.username.errors.0 %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form__field-row login-page__field-row">
                                        <div class="form__field-group">
                                            {% label form.email "form__label" %}
                                            {% field "email" form.email "form__field" %}
                                            {% if form.email.errors %}
                                                {% label form.email "error message form__field--invalid" form.email.errors.0 %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form__field-row login-page__field-row">
                                        <div class="form__field-group">
                                            {% label form.password1 "form__label" %}
                                            {% field "password" form.password1 "form__field"%}
                                            {% if form.non_field_errors %}
                                                {% label form.password1 "error message form__field--invalid" form.non_field_errors.0 %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% terms 'registration' %}

                                    <div class="form__field-row form__field-row--checkbox login-page__field-row">
                                        <div class="form__field-group form__field-group--inline form__option">
                                            {% field "checkbox" form.tos "form__checkbox" %}
                                            <label for="{{ form.tos.auto_id }}" class="form__label form__label--small form__label--checkbox">
                                                 {% blocktrans with url=tos_url %}
                                                    I have read and accept <a href="{{ url }}">terms and conditions</a>.
                                                {% endblocktrans %}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form__field-row form__field-row--checkbox login-page__field-row">
                                        <div class="form__field-group">
                                            <div class="login-page__buttons">
                                                <input type="submit" class="login-page__button login-page__submit-form button button--primary" value="{% trans "Create account" %}">
                                                {% csrf_token %}
                                                {% if next_url %}
                                                    <input type="hidden" name="next" value"{{ next_url }}">
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}