{% extends BASE_SITE %}
{% load i18n static articles_tags thumbnail static blocks_tags newsletter_tags %}

{% block meta_title %}
    {% blocktrans with user=user.get_full_name|default:user.username %}
        Profile - {{ user }}
    {% endblocktrans %}
{% endblock %}

{% block page_content %}
    <div class="account publications">
        <div class="category__heading heading heading--image">
            <img src="{% static 'media/icons/icon-profile.png' %}" alt="/" class="heading__image">
            <h2 class="heading__title">
                {% trans "My top agrar" %}
            </h2>
        </div>
        {% include "auth_ex/_profile_menu.html" with active=1 %}
        <div class="account__data">
            <div class="account__section">
                <div class="account__icon">
                    <img src="{% static 'media/icons/icon-profile.png' %}" class="account__icon-image" alt="">
                </div>
                <div class="account__content">
                    <p class="account__header account__padding--mobile">{% trans "Hallo" %} {{ user.profile.first_name }},</p>
                    <p class="account__text">{% blocktrans %}You are in the My Topagrar section. Here you can change the settings for your account and complete your package.{% endblocktrans %}</p>
                </div>
            </div>
            <div class="account__section">
                <div class="account__icon">
                    <img src="{% static 'media/icons/panel-alert.png' %}" class="account__icon-image" alt="">
                </div>
                <div class="account__content">
                    {% if subscription %}
                        <p class="account__text account__padding--mobile">
                            <img src="{% static 'images/i-tap.png' %}" width="35" align="right">
                            {% blocktrans %}
                                Remember, your subscription allows you to access an unlimited number of premium products!
                            {% endblocktrans %}
                            
                        </p>
                    {% else %}
                        <p class="account__text account__padding--mobile">
                            {% blocktrans %}
                                Remember, without a monthly subscription, you can see premium products for {{paid_articles_limit}} for free.
                            {% endblocktrans %}
                        </p>
                        <p class="account__text account__padding--mobile">
                            {% blocktrans %}
                                This month, articles remain:<span class="account__link">{{ user_read_article_count }}</span>
                            {% endblocktrans %}
                        </p>
                    {% endif %}
                </div>
            </div>
            <div class="account__section account__section--column">
                <div class="heading account__margin--mobile">
                    <h3 class="sidebar__title heading__title">{% trans "My profile" %}</h3>
                </div>
                <div class="account__profile">
                    <div class="account__profile-item">
                        <p class="account__subheader">{% trans "Contact details" %}</p>
                         {% if user.profile.business %}
                            <p>
                                {{ user.profile.business }}
                            </p>
                        {% endif %}
                        {% if user.profile.first_name %}<p>{{ user.profile.first_name }} {{ user.profile.last_name }}</p>{% endif %}
                        {% if user.email %}<p>{{ user.email }}</p>{% endif %}
                        {% if user.profile.phone %}<p>{{ user.profile.phone }}</p>{% endif %}
                    </div>
                    <div class="account__profile-item">
                        <p class="account__subheader">{% trans "Account settings" %}</p>
                        <p><a href="{% url "auth:profile_edit" %}" class="account__link">{% trans "Data change" %}</a></p>
                        <p><a href="{% url "auth:profile_password_reset" %}" class="account__link">{% trans "Password change" %}</a></p>
                    </div>
                    <div class="account__profile-item">
                        <p class="account__subheader">{% trans "Subscription" %}</p>
                        {% if subscription %}
                            <p class="account__text account__text--icon"><img src="{% static 'images/icon-check.png' %}" class="account__text-icon" alt="">{% trans "Active" %}</p>
                        {% else %}
                            <p class="account__text account__text--icon"><img src="{% static 'images/icon-inactive.png' %}" class="account__text-icon" alt="">{% trans "Inactive" %}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="account__profile account__profile--more">
                    {% if release %}
                        <div class="account__profile-item account__profile-item--column">
                            <div>
                                <p class="account__subheader">{% trans "Current issue" %}</p>
                                <div class="sidebar__newspaper-heading">
                                    {% thumbnail release.cover "x154" as im %}
                                        <img src="{{ im.url }}"  alt="" class="sidebar__cover-image account__cover">
                                    {% empty %}
                                        <img src="{% static 'media/okladka_109x154.png'%}"  alt="" class="sidebar__cover-image account__cover">
                                    {% endthumbnail %}
                                    <div class="sidebar__newspaper-info">
                                        <p class="sidebar__newspaper-edition">{{ release.title }}</p>
                                        <a href="{% url 'pdf_releases:pdf_releases_list' %}" class="button button--primary">{% trans "Read" %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% articles_last_user_visited %}
                </div>
                <div class="account__profile account__profile--buttons">
                    <a href="{% url 'pdf_releases:pdf_releases_list' %}" class="account__link">{% trans "See archival issue" %}</a>
                    <a href="{% url 'articles:articles_list' %}" class="button button--primary">{% trans "see all" %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar_content %}
    {% include "auth_ex/_profile_sidebar.html" %}
{% endblock %}
