{% extends BASE_SITE %}
{% load i18n static goods_tags forms blocks_tags terms_tags %}

{% block meta_title %}{% trans "Edit profile" %}{% endblock %}

{% block page_content %}
    <div class="account publications">
        <div class="category__heading heading heading--image">
            <img src="{% static 'media/icons/icon-profile.png' %}" alt="/" class="heading__image">
            <h2 class="heading__title">
                {% trans "My top agrar" %} - {% trans "Edit data" %}
            </h2>
        </div>
        {% include "auth_ex/_profile_menu.html" with active=2 %}
        <div class="account__data">
            <div class="account__section account__section--padding">
                <form action="{% url 'auth:profile_edit' %}" method='post' class="form" id="login-form" novalidate="">
                    {% csrf_token %}
                    <p class="account__subheader">{% trans "Basic information" %}</p>
                    <div class="account__container">
                        <div class="dropdown-checkbox__container">
                            <div class="form__field-row">
                                <div class="form__field-group form__field-group--top-align">
                                    <p class="form__label">{% trans "User" %}</p>
                                    <div class="form__options account__form-options">
                                        <div class="form__option">
                                            <input class="form__radio" name='type' type="radio" id="private" value='individual' required="" checked>
                                            <label for="private">{% trans "Individual" %}</label>
                                        </div>
                                        <div class="form__option">
                                            <input class="form__radio dropdown-checkbox" name='type' type="radio" id="firm" value='company' required="">
                                            <label for="firm">{% trans "Company" %}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown dropdown-more">
                                <div class="account__dropdown">
                                    <div class="form__field-row form__field-row--thin">
                                        <div class="form__field-group ">
                                            {% label profile_form.business "form__label account__form-label" %}
                                            {% field "text" profile_form.business "form__field account__form-field" %}
                                            {% error_label profile_form.business "error message form__field--invalid" %}
                                        </div>
                                    </div>
                                    <div class="form__field-row form__field-row--thin">
                                        <div class="form__field-group ">
                                            {% label profile_form.nip "form__label account__form-label" %}
                                            {% field "text" profile_form.nip "form__field account__form-field" %}
                                            {% error_label profile_form.nip "error message form__field--invalid" %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form__field-row form__field-row--thin">
                            <div class="form__field-group ">
                                {% label profile_form.first_name "form__label account__form-label" %}
                                {% field "text" profile_form.first_name "form__field account__form-field" %}
                                {% error_label profile_form.first_name "error message form__field--invalid" %}
                            </div>
                        </div>
                        <div class="form__field-row form__field-row--thin">
                            <div class="form__field-group ">
                                {% label profile_form.last_name "form__label account__form-label" %}
                                {% field "text" profile_form.last_name "form__field account__form-field" %}
                                {% error_label profile_form.last_name "error message form__field--invalid" %}
                            </div>
                        </div>
                        <div class="form__field-row form__field-row--thin">
                            <div class="form__field-group ">
                                {% label profile_form.birthday "form__label account__form-label" %}
                                {% field "text" profile_form.birthday "form__field account__form-field datepicker" %}
                                {% error_label profile_form.birthday "error message form__field--invalid" %}
                            </div>
                        </div>
                        <div class="form__field-row form__field-row--thin">
                            <div class="form__field-group ">
                                {% label profile_form.phone "form__label account__form-label" %}
                                {% field "text" profile_form.phone "form__field account__form-field" %}
                                {% error_label profile_form.phone "error message form__field--invalid" %}
                            </div>
                        </div>
                    </div>
                    <p class="account__subheader">{% trans "Billing address" %}</p>
                    <div class="account__container">
                        <div class="form__field-row form__field-row--thin">
                            <div class="form__field-group ">
                                {% label profile_form.street "form__label account__form-label" %}
                                {% field "text" profile_form.street "form__field account__form-field" %}
                                {% error_label profile_form.street "error message form__field--invalid" %}
                            </div>
                        </div>
                        <div class="form__field-row form__field-row--thin">
                            <div class="form__field-group ">
                                {% label profile_form.local_number "form__label account__form-label" %}
                                {% field "text" profile_form.local_number "form__field account__form-field" %}
                                {% error_label profile_form.local_number "error message form__field--invalid" %}
                            </div>
                        </div>
                        <div class="form__field-row form__field-row--thin">
                            <div class="form__field-group ">
                                {% label profile_form.zip_code "form__label account__form-label" %}
                                {% field "text" profile_form.zip_code "form__field account__form-field" %}
                                {% error_label profile_form.zip_code "error message form__field--invalid" %}
                            </div>
                        </div>
                        <div class="form__field-row form__field-row--thin">
                            <div class="form__field-group ">
                                {% label profile_form.city "form__label account__form-label" %}
                                {% field "text" profile_form.city "form__field account__form-field" %}
                                {% error_label profile_form.city "error message form__field--invalid" %} 
                            </div>
                        </div>
                    </div>
                    <div class="dropdown-checkbox__container">
                        <div class="form__field-row form__field-row--checkbox">
                            <div class="form__field-group form__field-group--inline form__field-group--top-align form__option">
                                {% field "checkbox" profile_form.different_c_address "form__checkbox dropdown-checkbox" %}
                                {% label profile_form.different_c_address "form__label" %}
                            </div>
                        </div>
                        <div class="dropdown dropdown-more">
                            <div>
                                <div class="form__field-row form__field-row--thin">
                                    <div class="form__field-group ">
                                        {% label profile_form.c_street "form__label account__form-label" %}
                                        {% field "text" profile_form.c_street "form__field account__form-field" %}
                                        {% error_label profile_form.c_street "error message form__field--invalid" %}
                                    </div>
                                </div>
                                <div class="form__field-row form__field-row--thin">
                                    <div class="form__field-group ">
                                        {% label profile_form.c_local_number "form__label account__form-label" %}
                                        {% field "text" profile_form.c_local_number "form__field account__form-field" %}
                                        {% error_label profile_form.c_local_number "error message form__field--invalid" %}
                                    </div>
                                </div>
                                <div class="form__field-row form__field-row--thin">
                                    <div class="form__field-group ">
                                        {% label profile_form.c_zip_code "form__label account__form-label" %}
                                        {% field "text" profile_form.c_zip_code "form__field account__form-field" %}
                                        {% error_label profile_form.c_zip_code "error message form__field--invalid" %}
                                    </div>
                                </div>
                                <div class="form__field-row form__field-row--thin">
                                    <div class="form__field-group ">
                                        {% label profile_form.c_city "form__label account__form-label" %}
                                        {% field "text" profile_form.c_city "form__field account__form-field" %}
                                        {% error_label profile_form.c_city "error message form__field--invalid" %}
                                    </div>
                                </div>
                                <div class="form__field-row form__field-row--thin">
                                    <div class="form__field-group ">
                                        {% label profile_form.c_phone "form__label account__form-label" %}
                                        {% field "text" profile_form.c_phone "form__field account__form-field" %}
                                        {% error_label profile_form.c_phone "error message form__field--invalid" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="account__subheader">{% trans "Additional data" %}</p>
                    <div class="account__container">
                        <div class="form__options">
                            {% for form in good_category_formset.forms %}
                                {% field "hidden" form.id %}
                                {% for value, label in form.category.field.choices %}
                                    <div class="form__option">
                                        <input class="form__radio" name="{{ form.category.html_name }}" type="radio" id="{{ form.category.auto_id }}_{{ value }}" value="{{ value }}" data-filter='.filter-goods-{{ value }}' {% if value == form.category.value %}checked{% endif %} >
                                        <label for="{{ form.category.auto_id }}_{{ value }}">{{ label }}</label>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% render_goods_formset goods_formset %}
                        </div>
                    </div>
                    {{ good_category_formset.management_form }}
                    {{ goods_formset.management_form }}
                    {% profile_terms 'tap_profile_edit' %}
                    <div class="form__field-group form__field-group--inline form__field-group--top-align form__option">
                        <div class="form__field-group form__field-group--inline form__option">
                            {% field "checkbox" profile_form.privacy_policy "form__checkbox" %}
                            <label for="{{ profile_form.privacy_policy.auto_id }}" class="form__label form__label--small form__label--checkbox">
                                 {% blocktrans with url=tos_url %}
                                    I have read and accept <a href="{{ url }}">terms and conditions</a>.
                                {% endblocktrans %}
                            </label>
                        </div>
                    </div>
                    <div class="form__field-row">
                        <div class="form__field-group">
                            <input type="submit" class="button button--primary account__button" value="Zapisz">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar_content %}
    {% include "auth_ex/_profile_sidebar.html" %}
{% endblock %}
