{% extends BASE_SITE  %}
{% load i18n static %}


{% block page_content %}
    <div class="account publications">
        <div class="category__heading heading heading--image">
            <img src="{% static 'media/icons/icon-profile.png' %}" alt="/" class="heading__image">
            <h2 class="heading__title">
                {% trans "My top agrar" %} - {% trans "Shopping history" %}
            </h2>
        </div>
        {% include "auth_ex/_profile_menu.html" with active=5  %}
        <div class="account__data">
            <div class="account__section account__section--column account__section--padding">
                <p class="account__subheader">{% trans "Shopping history" %}</p>


                <div class="my-subscriptions jcf-scrollable">
                    <div class="my-subscriptions__row">
                        <div class="my-subscriptions__item">
                            <p class="my-subscriptions__text my-subscriptions__text--header">{% trans "Title" %}</p>
                        </div>
                        <div class="my-subscriptions__item">
                            <p class="my-subscriptions__text my-subscriptions__text--header">{% trans "Format" %}</p>
                        </div>
                        <div class="my-subscriptions__item">
                            <p class="my-subscriptions__text my-subscriptions__text--header">{% trans "Date of purchase" %}</p>
                        </div>
                        <div class="my-subscriptions__item">
                            <p class="my-subscriptions__text my-subscriptions__text--header">{% trans "Actions" %}</p>
                        </div>
                    </div>
                    {% for payment in articles_payments %}
                        {% with payment.order.content_object as article %}
                            <div class="my-subscriptions__row">
                                <div class="my-subscriptions__item my-subscriptions__item--padding">
                                    <p class="my-subscriptions__text">
                                        {{ article.title|truncatechars:60 }}<br />
                                    </p>
                                </div>
                                <div class="my-subscriptions__item">
                                    <p class="my-subscriptions__text">{% trans "site" %}</p>
                                </div>
                                <div class="my-subscriptions__item">
                                    <p class="my-subscriptions__text">{{ payment.created_on|date:'d E Y H:m' }}</p>
                                </div>
                                <div class="my-subscriptions__item">
                                    <p class="my-subscriptions__text">
                                        {% if payment.status == 'paid' %}
                                            <a href="{{ article.get_absolute_url }}" class="account__link">{% trans "show article" %}</a>
                                        {% else %}
                                            {{ payment.get_status_display }}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        {% endwith %}
                    {% endfor %}
                    {% if user_releases %}
                        {% for ur in user_releases %}
                            <div class="my-subscriptions__row">
                                <div class="my-subscriptions__item my-subscriptions__item--padding">
                                    <p class="my-subscriptions__text">
                                        {{ ur.article.title|truncatechars:60 }}<br />
                                        {% with r=ur.article.release %}
                                            <i>{{ r.site.name }}<br />
                                            {{ r.title }}</i>
                                        {% endwith %}
                                    </p>
                                </div>
                                <div class="my-subscriptions__item">
                                    <p class="my-subscriptions__text">{% trans "PDF" %}</p>
                                </div>
                                <div class="my-subscriptions__item">
                                    <p class="my-subscriptions__text">{{ ur.created }}</p>
                                </div>
                                <div class="my-subscriptions__item">
                                    <p class="my-subscriptions__text">
                                        {% if ur.is_paid %}
                                            <a href="{{ ur.article.get_absolute_url }}" class="account__link">{% trans "show article" %}</a>
                                        {% else %}
                                            {% trans "Unpaid." %}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if user_releases_pdf %}
                        {% for ur in user_releases_pdf %}
                            <div class="my-subscriptions__row">
                                <div class="my-subscriptions__item my-subscriptions__item--padding">
                                    <p class="my-subscriptions__text">
                                        {{ ur.release.title }}
                                    </p>
                                </div>
                                <div class="my-subscriptions__item">
                                    <p class="my-subscriptions__text">{{ ur.get_format }}</p>
                                </div>
                                <div class="my-subscriptions__item">
                                    <p class="my-subscriptions__text">{{ ur.created }}</p>
                                </div>
                                <div class="my-subscriptions__item">
                                    <p class="my-subscriptions__text">
                                        {% if ur.is_paid %}
                                            <a href="{{ ur.release.get_absolute_url }}full/pdf/fullsize/" class="account__link">{% trans "Read" %}</a>
                                        {% else %}
                                            {% trans "Unpaid." %}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar_content %}
    {% include "auth_ex/_profile_sidebar.html" %}
{% endblock %}
