{% extends BASE_SITE %}
{% load i18n breadcrumbs blocks_tags %}

{% block meta_title %}{% trans "Activation error" %}{% endblock %}

{% block breadcrumbs %}
        <div class="breadcrumbs">   
            {% tap_breadcrumb 'index' 'Homepage' %}
            <p class="breadcrumbs__item">
                {% trans "Login zone" %}
            </p>
        </div>
{% endblock %}

{% block page_content %}
    <div class="login-page">
        <div class="row">
            <div class="login-page__box">
                <div class="login-page__box-content login-page__box-content--grey">
                    <div class="login-page__heading heading">
                        <h3 class="heading__title">{% trans "Registration" %}</h3>
                    </div>
                    <div class="login-page__content">
                        <div class="login-page__form-container">
                            {% trans "Sorry, your activation link was incorrect or the activation key for your account has expired." %}
                            <div>
                                <A href="{% url 'auth:login' %}">{% trans "Go to login page" %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}