{% extends BASE_SITE %}
{% load i18n breadcrumbs blocks_tags %}

{% block meta_title %}{% trans "Account activated" %}{% endblock %}

{% block breadcrumbs %}
        <div class="breadcrumbs">   
            {% tap_breadcrumb 'index' 'Homepage' %}
            <p class="breadcrumbs__item">
                {% trans "Login zone" %}
            </p>
        </div>
{% endblock %}

{% block page_content %}
    <div class="login-page">
        <div class="row">
            <div class="login-page__box">
                <div class="login-page__box-content login-page__box-content--grey">
                    <div class="login-page__heading heading">
                        <h3 class="heading__title">{% trans "Activation completed" %}</h3>
                    </div>
                    <div class="login-page__content">
                        <div class="login-page__form-container">
                            {% i18n_block activation_complete %}
                        </div>
                        <a class='login-page__forget-password login-page__link' href='{% url 'auth:profile_edit' %}'><span>{% trans "Log in" %}</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}