{% extends BASE_SITE %}
{% load i18n breadcrumbs forms blocks_tags %}

{% block meta_title %}
    {% if validlink %}
        {% trans "Enter new password" %}
    {% else %}
        {% trans "Password reset unsuccessful" %}
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">   
        {% tap_breadcrumb 'index' 'Homepage' %}
        <p class="breadcrumbs__item">
            {% trans "Login zone" %}
        </p>
    </div>
{% endblock %}

{% block page_content %}
    <div class="login-page">
        <div class="row">
            <div class="login-page__box">
                <div class="login-page__box-content login-page__box-content--grey">
                    <div class="login-page__heading heading">
                        <h3 class="heading__title">{% trans "Forgotten password step 1" %}</h3>
                    </div>
                    <div class="login-page__content">
                        <p class="login-page__subtitle">{% i18n_block auth_ex_password_reset_step1 %}</p>
                        <div class="login-page__form-container">
                            {% if validlink %}
                                <form class="form login-page__form" id="login-form" method="POST" novalidate>
                                    <div class="form__field-row login-page__field-row">
                                        <div class="form__field-group">
                                            {% label form.new_password1 "form__label" %}
                                            {% field "password" form.new_password1 "form__label" %}
                                            {% if form.non_field_errors %}
                                                {% label form.new_password1 label=_("Passwords do not match") %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form__field-row login-page__field-row">
                                        <div class="form__field-group">
                                            {% label form.new_password2 "form__label" %}
                                            {% field "password" form.new_password2 "form__label" %}
                                            {% if form.non_field_errors %}
                                                {% label form.new_password2 label=_("Passwords do not match") %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% csrf_token %}
                                    <div class="form__field-row form__field-row--checkbox login-page__field-row">
                                        <div class="form__field-group">
                                            <div class="login-page__buttons">
                                                <input type="submit" class="button--padded login-page__submit-form button button--primary" value="{% trans "Submit" %}">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            {% else %}
                                <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}