{% extends BASE_SITE %}
{% load i18n breadcrumbs blocks_tags %}

{% block breadcrumbs %}
        <div class="breadcrumbs">   
            {% tap_breadcrumb 'index' 'Homepage' %}
            <p class="breadcrumbs__item">
                {% trans "Login zone" %}
            </p>
        </div>
{% endblock %}

{% block page_content %}
    <div class="login-page">
        <div class="row">
            <div class="login-page__box">
                <div class="login-page__box-content login-page__box-content--grey">
                    <div class="login-page__heading heading">
                        <h3 class="heading__title">{% trans "Error" %}</h3>
                    </div>
                    <div class="login-page__content">
                        <div class="login-page__form-container">
                            {% blocktrans %}We could not find an account for that email address. <a href="{{ password_reset_url }}">Try again</a> with another email address or <a href="{{register_url}}">create a new account</a>.{% endblocktrans %} 
                            <div class="text-center">                              
			                    <a href="{% url 'homepage:index' %}" class="btn-inline button--green btn--thin">{% trans "Go to homepage" %}</a>
			                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
