{% if show_registration_google_code %}
    <!-- Google Code for za&#322;o&#380;enie konta Conversion Page -->
<script type='text/javascript'>
// <![CDATA[
        var google_conversion_id = 956553137;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "={ google_conversion_label }";
        var google_remarketing_only = false;
// ]]>
</script>
    <script src='//www.googleadservices.com/pagead/conversion.js' type='text/javascript'></script>
    <noscript><div style='display:inline;'><img width='1' style='border-style:none' src='//www.googleadservices.com/pagead/conversion/956553137/?label={{ google_conversion_label }}&amp;guid=ON&amp;script=0' alt='' height='1' /></div></noscript>
{% endif %}
