{% extends BASE_SITE %}
{% load i18n breadcrumbs blocks_tags %}

{% block meta_title %}{% trans "Registration complete" %}{% endblock %}

{% block breadcrumbs %}
        <div class="breadcrumbs">   
            {% tap_breadcrumb 'index' 'Homepage' %}
            <p class="breadcrumbs__item">
                {% trans "Login zone" %}
            </p>
        </div>
{% endblock %}

{% block page_content %}
    <div class="login-page">
        <div class="row">
            <div class="login-page__box">
                <div class="login-page__box-content login-page__box-content--grey">
                    <div class="login-page__heading heading">
                        <h3 class="heading__title">{% trans "Registration completed" %}</h3>
                    </div>
                    <div class="login-page__content">
                        <div class="login-page__form-container">
                            {% block content %}
                                <div class='content-area'><article class='user-text message'>{% i18n_block registration_complete %}</article></div>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}