{% load i18n static %}

<div class="account__container">
    <p class="account__text account__text--small">{% blocktrans %}Please give us your consent. Selecting a box will give you permission.{% endblocktrans %}</p>
</div>
<div class="account__container">
    {% for agreement in agreements %}
        {% if agreement.permtype == 'text' %}
            <p class="account__text account__text--small">
                {{ agreement.full|safe }}
                <input id="id_description" name="description" type="hidden" value="{{ description }}" />
            </p>
        {% elif agreement.permtype == 'checkbox' %}
            <input type="hidden" value="false" name="{{ agreement.type }}">
            <div class="form__field-group form__field-group--inline form__field-group--top-align form__option">
                <input type="checkbox" name="{{ agreement.type }}" id="{{ agreement.type }}" class="form__checkbox" value="true"{% if agreement.value == 'true' %} checked{% endif %}{% if agreement.required %} required{% endif %}>
                <label for="{{ agreement.type }}" class="form__label form__label--small form__label--checkbox">{{ agreement.short|safe }}{% if agreement.required %}*{% endif %}</label>
                <span class="form__tooltip-container" data-tooltip="{{ agreement.extended|safe }}">
                    <img src="{% static 'images/icons/info-icon.png' %}" alt="">
                </span>
            </div>
        {% elif agreement.permtype == 'popup' %}
            <section style="margin-bottom: 40px;">
                {# <p class="subheading__title">{{ agreement.short|safe}}</p> #}
                <a href="#" class="article__link" data-modal="popup">
                    {{ agreement.short|safe }}
                </a>
                <div class="modal-popup" id="popup">
                    <div class="modal-popup__content">
                        <p class="modal-popup__close">&#10005;</p>
                        <p>{{ agreement.extended|safe }}</p>
                    </div>
                </div>
            </section>
        {% endif %}
    {% endfor %}
</div>