{% load terms_tags %}

<h1>{{ form.title }}</h1>
{% if form.intro %}
    <p>{{ form.intro }}</p>
{% endif %}
{{ form_for_form.media }}
<form action="{{ form.get_absolute_url }}" method="post"
    {% if form_for_form.is_multipart %}enctype="multipart/form-data"{% endif %}>
    {% csrf_token %}
    {{ form_for_form.as_p }}
    {% if form.terms_required %}
        <div>
            {% with form.id|stringformat:"s" as form_id %}
                {% with "form-"|add:form_id as form_description %}
                    {% terms form_description %}
                {% endwith %}
            {% endwith %}
         </div>
    {% endif %}
    <div style="clear:left;">&nbsp;</div>
    <input type="submit" value="{{ form.button_text }}">
</form>
