@import url('../../static/fonts/ptsans/400/regular/font.css');
@import url('../../static/fonts/ptsans/500/regular/font.css');
@import url('../../static/fonts/ptsans/700/regular/font.css');
@import url('../../static/fonts/signika/300/regular/font.css');
@import url('../../static/fonts/signika/400/regular/font.css');
@import url('../../static/fonts/signika/500/regular/font.css');
@import url('../../static/fonts/signika/700/regular/font.css');
@import url('../../static/fonts/cantarell/400/regular/font.css');
@import url('../../static/fonts/cantarell/400/italic/font.css');
@import url('../../static/fonts/cantarell/700/regular/font.css');
@import url('../../static/fonts/cantarell/700/italic/font.css');

/*
 * Base styles
 */
* {margin: 0; padding: 0; text-overflow: ellipsis}
body * {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box}
[class] {overflow: hidden; list-style: none; padding: 0}
.visible {overflow: visible}
*:focus {outline: none}

/* Page defaults */
body {overflow: auto !important; color: #444; font: 400 14px/1.57 'PT Sans', 'Arial', 'Helvetica', sans-serif}

/* Block-level elements */
*+p,
*+dl,
*+h1,
*+h2,
*+h3,
*+h4,
*+h5,
*+h6,
*+ol,
*+ul,
*+figure {margin-top: 20px}

ol,
ul {margin-left: 0; padding-left: 30px}

h1,
h2,
h3,
h4,
h5,
h6 {color: #343434; font: 400 14px/1.1 Signika, sans-serif}
h1 {margin: 0; font-size: 72px}
h2 {font-size: 34px}
h3 {font-size: 24px; font-family: Cantarell, sans-serif}
h4 {font-size: 20px}
h5 {font-size: 16px}

dt {font-weight: 700}

table {overflow: visible; border-collapse: separate}
td {word-wrap: break-word}

/* Form elements */
input,
button,
select,
textarea {vertical-align: middle; outline: none}

textarea[class] {overflow: auto}
iframe {border: none}

button,
select,
label[for],
input[type="reset"],
input[type="radio"],
input[type="button"],
input[type="submit"],
input[type="checkbox"] {cursor: pointer}
::-ms-clear {display: none}

input[type="text"], input[type="email"], input[type="password"] {border-radius: 0; -webkit-appearance: none}

/* Inline elements */
a {color: #179d3a; text-decoration: none; cursor: pointer}
a:hover,
a:focus {text-decoration: underline}
a:focus {outline: 0}

img {display: inline-block; vertical-align: middle}
hr {height: 1px; margin: 30px 0 0; border: 0; background: #e7e7e7}
* + h4 {margin-top: 45px}

ul,
ol {overflow: hidden; padding: 0; list-style: none}

ul>li {padding-left: 60px}
ul>li + li {margin-top: 6px}
ul>li:before {content: ''; display: inline-block; width: 7px; height: 13px; margin: 0 22px 0 -30px; background: transparent url('../images/list_bullet_7x13.png') no-repeat 0 0; vertical-align: middle}

ol {counter-reset: ol-list}
ol>li {overflow: hidden; padding-left: 36px; counter-increment: ol-list}
ol>li + li {margin-top: 20px}
ol>li:before {content: counter(ol-list); overflow: hidden; display: inline-block; margin: 0 13px 0 -36px; padding: 0 7px; border-radius: 5px; background: #179d3a; color: #fff; font-size: 12px; line-height: 21px; white-space: nowrap; vertical-align: top}

table {width: 100%}
table thead th {padding: 20px 20px; color: #343434; font: 400 18px/1.2 Signika, sans-serif}
table tbody td {padding: 12px 20px; color: #848484; font-size: 16px; line-height: 1.2}
